@page
@model LockoutModel
@{
    ViewData["Title"] = "Blocked";
}

<header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
         <div class="mb-3">
            <p class="text-danger" align="center">This account has been blocked, please try again later.</p>
        </div>
</header>
