@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row align-items-center">
    <div class="col-md-6 align-self-center offset-md-3">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <br />
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Input.UserName"></label>
            <div class="mb-3">
                <input asp-for="Input.UserName" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <label asp-for="Input.Email"></label>
            <div class="mb-3">
                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <label asp-for="Input.Password"></label>
            <div class="mb-3">
                <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <label asp-for="Input.ConfirmPassword"></label>
            <div class="mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-dark">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
